---
import Carditem from './Carditem.astro'
import { getLenguaje } from '../i18n/getlenguaje'

const {currentLocale}= Astro
const i18n = getLenguaje(currentLocale).proyectos
---

<section class="p-5 mt-10" id="proyectos">
  <h2
    class="text-[--text-100] text-4xl font-medium mb-3 flex items-center gap-2 justify-center lg:justify-start"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-device-desktop-code"
      width="44"
      height="44"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M12.5 16h-8.5a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v8"
      ></path>
      <path d="M7 20h4"></path>
      <path d="M9 16v4"></path>
      <path d="M20 21l2 -2l-2 -2"></path>
      <path d="M17 17l-2 2l2 2"></path>
    </svg>
    {i18n.titulo}
  </h2>
  <div class="flex items-center justify-evenly mt-4 gap-4 flex-wrap">
    <Carditem
      imagen="/weather.png"
      titulo={i18n.weather.title}
      descripcion={i18n.weather.description}
      tags={['React', 'TailwindCss']}
      enlace="https://jasweather.pages.dev/"
      alt="mockup Jasweather"
    />
    <Carditem
      imagen="/board.png"
      titulo={i18n.board.title}
      descripcion={i18n.board.description}
      tags={['React', 'TailwindCss']}
      enlace="https://jasboard.pages.dev/"
      alt="mockup Jasboard"
    />
    <Carditem
      imagen="/escuela.png"
      titulo={i18n.ecuela.title}
      descripcion={i18n.ecuela.description}
      tags={['Astro', 'TailwindCss']}
      enlace="https://migueldecervantesescuelaidioma.pages.dev/"
      alt="mockup web Miguel de Cervantes"
    />
  </div>
</section>
